**/.DS_Store
**/*.pdf
**/*.html
# **/*.png
mygithub.css
**/.vscode
RC0/.vscode/settings.json
RC0/.vscode
RC2/RC2_Code
RC2/RC2
FinalRC/one_invariant.png
FinalRC/three_rules.png
FinalRC/one_invariant.png
